{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.3"/>
{% endset %}
{% set repos %}
    <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/aus/rhel/server/7/7.3/{{ ARCH }}/os"/>
    <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/aus/rhel/server/7/7.3/{{ ARCH }}/optional/os"/>
    <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/aus/rhel/server/7/7.3/{{ ARCH }}/debug"/>
{% endset %}
